<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            let socket = io('/start');
            socket.on('connect', function() {
                console.log("Connected to socket")
                socket.emit('start_process', 'start');
            });
            socket.on('get_artciles', function(msg, cb) {
                var p = "";
                $('#articles').html("");
                $("#updated").html("");
                $("#updated").html('<h3>Updated at: '+new Date()+'</h3>');
                msg.articles.forEach((article,i) => {
                    console.log(article)
                    p += '<p id="p' + (++i) + '">'+Object.keys(article)[0]+" ========= "+Object.values(article)[0]+'</p>';    

                });
                $('#articles').html(p);
                if (cb)
                    cb();
            });
        });
    </script>
</head>
<body>
    <h1>BOT</h1>
    <div id="updated"></div>
    <div id="articles"> </div>
</body>
</html>